<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @market_activity.title %>
</p>


<%= link_to 'Edit', edit_market_activity_path(@market_activity) %> |
<%= link_to 'Back', market_activities_path %>
